{% extends 'base.html' %}
{% load static %}

{% block title %} {{view.title}}{% endblock %} 

{% block content %} 
<br>
<center>
<h2> Numero di commenti riguardo <a href={% url 'gestione_medici:informazioni_medico' view.kwargs.pk %}>{{medico}}</a>
    in questa pagina: {{ object_list.count }} </h2>
</center>
<br>


{% for c in object_list %}
<br>
<div class="d-flex aligns-items-center justify-content-center card text-center w-50 mx-auto">
    <div class="media border" style="background-color: #E0E0E0;">
        <div class="mr-3 mt-3" >
          {% if c.commentatore.foto_profilo%}
            <img src={{c.commentatore.foto_profilo.url}} class="media-object" style="width:60px">
          {% else %}
            <img src="{% static '/immagini/blank_profile_picture.png' %}" class="media-object" style="width:60px">
          {% endif %}
        </div>
        <div class="media-body" style="word-break: break-all">
          <h4><b>{{c.commentatore}}</b> <small><i>Pubblicato in data {{c.data}}</i></small></h4>
          <p>{{c.testo}}</p>
        </div>
    </div>
</div>
<br>
{%endfor%}
</div>
<br>

{% include "paginatore.html" %}

{% endblock %}
