{% extends 'base.html' %}
{% load static %}

{% block title %} {{view.title}}{% endblock %} 

{% block content %} 
<br>


<div class="mt-4 p-5 bg-success text-white rounded">
  <h2 style="text-align:center;" class="display-6">Numero di commenti riguardo 
    <a style="color: #90ee90" href={% url 'gestione_medici:informazioni_medico' view.kwargs.pk %}>{{medico}}</a> 
    in questa pagina: {{ object_list.count }} 
  </h2>
</div>


<br>

<div class="container-fluid">
{% for c in object_list %}
<br>
<div class="card mb-4">
  <div class="card-body" style="background-color: #8db600">
    <h3>{{c.testo}}</h3>
    <div class="d-flex flex-row align-items-center" >
      {% if c.commentatore.foto_profilo%}
        <img src={{c.commentatore.foto_profilo.url}} class="flex-shrink-0 me-3 mt-3 " 
        width="50" height="50">
      {% else %}
        <img src="{% static '/immagini/blank_profile_picture.png' %}" class="flex-shrink-0 me-3 mt-3 "
        width="50" height="50">
      {% endif %}
      <h4><b>{{c.commentatore}}</b> <small><i>Pubblicato in data {{c.data}}</i></small></h4>
    </div>
  </div>
</div>
<br>
{%endfor%}
</div>
<br>

{% include "paginatore.html" %}

{% endblock %}
