{% extends 'base.html' %}
{% load static %}

{% block title %} {{view.title}}{% endblock %} 

{% block content %} 
<br>
<center>

<div class="container-fluid d-flex">
  <div class="row">
    <div class="col">
    <div class="card text-white bg-info mb-3" style="width: 18rem;">
      <img class="card-img-top"
      {% if object.utente.foto_profilo %}
        src={{object.utente.foto_profilo.url}} alt="Immagine medico"
      {% else %}
        src="{% static '/immagini/blank_profile_picture.png' %}" alt="Immagine default"
      {% endif%}
      >

      <div class="card-header">
        Presentazione di {{object}}:
      </div>
      <div class="card-body">
        <p class="card-text">{{object.descrizione}}</p>
      </div>
    </div>
  </div>
  <div class="col align-self-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text">Se sei stato un paziente del medico {{object}}
          e vuoi aggiungere una recensione clicca sul bottone sottostante</p>
      </div>
      <div class="card-footer">
        <a href={% url 'gestione_medici:crea_commento' view.kwargs.pk %} class="btn btn-info">Scrivi recensione</a>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <h3>Ci sono {{page_obj.paginator.count}} commenti, per vederli tutti clicca 
      <a href={% url 'gestione_medici:commenti_totali' view.kwargs.pk %}>qui</a>, di seguito i piu' recenti:</h3>
    <br>
    {% for commento in commenti %}
    <div class="media border" style="background-color: #E0E0E0;">
      <div class="mr-3 mt-3" >
        {% if commento.commentatore.foto_profilo%}
          <img src={{commento.commentatore.foto_profilo.url}} class="media-object" style="width:60px">
        {% else %}
          <img src="{% static '/immagini/blank_profile_picture.png' %}" class="media-object" style="width:60px">
        {% endif %}
      </div>
      <div class="media-body" style="word-break: break-all">
        <h4><b>{{commento.commentatore}}</b> <small><i>Pubblicato in data {{commento.data}}</i></small></h4>
        <p>{{commento.testo}}</p>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>
<br>
</div>
{% endblock %}