{% extends 'base.html' %}

{% load crispy_forms_tags %} 

{% block title %} Login {% endblock %} 

{% block content %} 

{% if "notok" in request.GET.auth %}
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
  Si è arrivati qui in quanto non si dispone dei permessi necessari per il servizio scelto!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="text-center mt-4 p-5 bg-secondary text-white rounded">
    <h1>Pagina di Login</h1>
    <p>Si prega di compilare i campi necessari</p> 
</div>

<center>
<div class="content-section col-md-8 col-md-offset-2">
<form method="post" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;"> {% csrf_token %}

    {{form | crispy}}
    <br><br>
    <center>
    <input type="submit" class="btn btn-success" value="Esegui login">
    </center>

  </form>
</center>
</div>
{% endblock %}
