{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %} 

{% block content %} 
{% if paginator.count == 0 %}
  <div class="mt-4 p-5 bg-info text-white rounded">
    <h2 style="text-align:center;" class="display-6"> Non sono stati trovati esami</h2>
  </div>
{% else %}
  <div class="mt-4 p-5 bg-info text-white rounded">
    <h2 style="text-align:center;" class="display-6"> La tua ricerca ha dato come risultato 
      {{ paginator.count }} esami 
    </h2>
  </div>
{% endif %}
<br>


{% for e in object_list %}
<br>
<div class="d-flex aligns-items-center justify-content-center card text-center w-50 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      Esame disponibile per la prenotazione
    </div>
    <div class="card-body">
      <h5 class="card-title">Esame della tipologia {{ e.get_tipologia_display }}</h5>
      <p class="card-text">Un esame di <a href={% url 'gestione_medici:informazioni_medico' e.medico.pk %}>
        {{ e.get_nome_medico }} {{e.get_cognome_medico}}</a> che verrà eseguito in data {{e.data}}</p> 

    </div>
    <div class="card-footer">
      <a href={% url 'gestione_utenti:prenota_esame' e.pk %} class="btn btn-info">Prenotalo</a>
    </div>
  </div>
</div>
<br>
{%endfor%}
<br>

{% include "paginatore.html" %}

{% endblock %}
