{% extends 'base.html' %}


{% block title %} {{title}} {% endblock %} 

{% block content %} 

<br>
<div class="mt-4 p-5 bg-info text-white rounded">
  <h1 style="text-align:center;" class="display-4">Stato attuale dei tuoi esami</h1>
</div>

<br>

{% for e in page_obj  %}
  <br>
  <div class="d-flex aligns-items-center justify-content-center card text-center w-50 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        Esame della tipologia {{ e.tipologia }}
      </div>
      <div class="card-body">
        {% if e.stato == 'prenotato' %}
            <p class="card-text"> Esame che verrà eseguito in data {{e.data}}</p>
        {% else %}
            <p class="card-text"> Esame eseguito in data {{e.data}}</p>
        {% endif %}
            <p class="card-text"> dal medico {{e.get_nome_medico}} {{e.get_cognome_medico}}</p>
      </div>
        <div class="card-footer">
          <div class="btn-wrapper text-center d-flex justify-content-between">
            <a href="{% url 'gestione_utenti:stampa_esame' e.pk %}" 
            class="btn btn-secondary  btn-sm text-white d-flex align-items-center">Stampa promemoria come pdf</a>
            <a href="{% url 'gestione_utenti:cancella_prenotazione' e.pk %}" 
            class="btn btn-warning" style="">Cancella</a>
          </div>
        </div>
    </div>
  </div>
  <br>
{%endfor%}

{% include "paginatore.html" %}

{% endblock %}
