<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <center>
        <h1>Promemoria per il suo esame</h1>
        <h3>Gentile utente, ecco il promemoria per la sua visita:</h3>
        <p>Tipologia: {{esame.tipologia}}</p>
        <p>Medico: {{esame.medico}}</p>
        <p>Data e orario: {{esame.data}}</p>
        <p>Paziente che ha prenotato la visita: {{esame.paziente}}</p>
    </center>
</body>