<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <center>
        <h1>Promemoria per il suo esame</h1>
        <h3>Gentile utente, ecco il promemoria per la sua visita:</h3>
        <p><span style="color:blue;">Tipologia</span>: {{esame.tipologia}}</p>
        <p><span style="color:blue;">Medico</span>: {{esame.medico}}</p>
        <p><span style="color:blue;">Data e orario</span>: {{esame.data}}</p>
        <p><span style="color:blue;">Paziente che ha prenotato la visita</span>: {{esame.paziente}}</p>
    </center>
</body>