{% extends "base.html" %}
{% load static %}

{% block title %} {{title}} {% endblock %}
<style>
  html {
    scroll-behavior: smooth;
  }
</style>
{% block content %}

<div id="avvertimento" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Abbandono chat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>L'altro utente ha lasciato la chat</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 p-5 bg-warning text-white rounded">
  <div class="container">
    <h2 style="text-align:center;" class="display-4">Benvenuto nella pagina dell'assistenza clienti!</h2>
  </div>
</div>
<br>
  <h3 style="text-align:center"> Chatlog: </h3>

  <div class="container-fluid" style="text-align:center" id="chatlog">

  </div>

  <br><br>
  <div class="container-fluid" style="text-align:center">
    <div class="row justify-content-center">
        <label for="msg" class="form-label" style="display:flex; flex-direction:column;">Messaggio:</label>
        <div class="col-sm-3">
        <input type="text" class="form-control" id="msg"> <br> <br>
        </div>

      <div class="col-md-auto">
        <button id='bottone' type="button" class="btn btn-warning" onclick="btnClick()">Manda</button>
      </div>
    </div>
  </div>
<script>

function sanitizeString(input) {
  const sanitizedString = input.replace(/[<>&"'`]/g, '');
  return sanitizedString;
}

console.log(window.location.host)
var socket = new WebSocket('ws://' + window.location.host + '/ws/chatws/{{pk}}/');

var identificativi = sanitizeString("{{identificativi}}");
var urlProfilo;
{% if request.user.is_authenticated and request.user.foto_profilo %}
 urlProfilo = "{{ request.user.foto_profilo.url }}"
{% else %}
  urlProfilo = "{% static '/immagini/blank_profile_picture.png' %}"
{% endif %}

var input = document.getElementById("msg");

/** 
 * Aggiunge al bottone di invio un event listener per permettere di inviare 
 * anche premendo "invio"
 */
input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    // Elimina l'azione di default
    event.preventDefault();
    document.getElementById("bottone").click();
  }
}); 

// funzione per aggiungere un messaggio al chatlog
function aggiungiMessaggio(data){
  
  var container = document.querySelector("#chatlog");
  var dataMsg = sanitizeString(data["msg"]);
  var dataIden = sanitizeString(data["iden"])

  var card = document.createElement("div");
  card.className = "card mb-4"
  var cardBody = document.createElement("div")
  cardBody.className = "card-body"
  cardBody.innerHTML = "<h4>" + dataMsg + "</h4>"
  var innerDiv = document.createElement("div");
  if (dataIden == identificativi)
    innerDiv.className = "d-flex flex-row-reverse align-items-center";
  else
    innerDiv.className = "d-flex flex-row align-items-center";
  var img = document.createElement("img");
  img.src = sanitizeString(data["fotoProfilo"])
  img.alt = "foto_utente"
  img.className = "flex-shrink-0 me-3 mt-3 rounded-circle"
  img.style.cssText = "width: 50px; height: 50px;"

  var ts = new Date();
  innerDiv.innerHTML = "<h4>" + "<b>" + dataIden + "</b>" + " <small><i>" + 
                        ts.getHours() + ":" + ts.getMinutes() + ":" + ts.getSeconds() + " </i></small></h4>";
  innerDiv.insertBefore(img, innerDiv.firstChild)
  cardBody.appendChild(innerDiv);
  card.appendChild(cardBody);
  container.appendChild(card);
  innerDiv.scrollIntoView();
}

// funzione che mostra il modale di abbandono
function abbandono(data){
  modale = new bootstrap.Modal(document.getElementById("avvertimento"));
  modale.show();
  document.getElementById("msg").disabled = true;
  document.getElementById("bottone").disabled = true;
}


// funzione per la gestione dei messaggi arrivati in base alla loro categoria
socket.onmessage = function(event){

  var data = JSON.parse(event.data);
  var situazione = sanitizeString(data['situazione'])
  if (situazione == 'normale')
    aggiungiMessaggio(data)
  else if (situazione == 'abbandono')
    abbandono(data)
}

// funzione che invio all'indirizzo del websocket l'utente messaggio scritto come JSON
function btnClick() {
    if (document.querySelector('#msg').value == "")
      return
    var obj = new Object();
    obj.msg = sanitizeString(document.querySelector('#msg').value);
    obj.iden = sanitizeString(identificativi);
    obj.fotoProfilo = sanitizeString(urlProfilo);
    var string = JSON.stringify(obj);
    socket.send(string);
    document.querySelector('#msg').value = "";

  }

</script>

{% endblock %}